@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {
  margin: 0;
  width: 100vw;
  /*height: 100vh; se colocar altura, quebra o mobile-fist*/
}

.main-login {
  width: 100%;
  height: 100%;
  background: #6946b9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  font-family: sans-serif;
}

.container__left {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__left__svg {
  width: 30vw;
}

.container__left > h1 {
  color: #77ffc0;
  font-size: 4vw;
  text-align: center;
  text-shadow: 1px 1px rgb(255, 4, 234);
  font-family: 'Supermercado One', cursive;
}

.container__right {
  width: 50%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: #6946b9;
}

.textfield, a {
  color: whitesmoke;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Supermercado One', cursive;
}

.card-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0 10px 40px #0000009d;
}

.card-login > h1 {
  color: #77ffc0;
  font-family: 'Supermercado One', cursive;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px rgb(255, 4, 234);
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0 10px 40px #0000009d;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff85;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2.5px;
  background-color: #77ffc0;
  box-shadow: 0 10px 40px -12px #00ff8052;
  box-sizing: border-box;
  transition: all 0.4s;
}

.btn-login:hover {
  background-color: #86f9e2ff;
  /*-webkit-transform: scale(1.2);
  transform: scale(1.2);*/
}



@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }

  .container__left__svg {
  width: 80vw;
}

.container__left > h1 {
  font-size: 10vw;
}

.card-login {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.container__right {
  width: 100vw;
  overflow: hidden;

  box-sizing: border-box;
}

}

@media only screen and (min-width: 1800px) {
  .main-login {
    flex-direction: row;
    margin: 0 auto;
  }

  .container__left__svg {
  width: 50%;
}

.container__left > h1 {
  font-size: 5vh;
}

.card-login {
  border-radius: 0px;
}

.container__right {
  overflow: hidden;
  box-sizing: border-box;
}

.card-login {
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0 10px 40px #0000009d;
}
}